body {
        background-color: #6495ed8a;
}

.bg {
    background-color: #49484830;
    padding: 30px;
    margin: 10px;
    border-radius: 56px;
}

.t {
    justify-content: center;
    display: flex;
}