@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

:root {
    --main-color: #088178;
    --text-color: #333333;
    --bg-color: #e8e8e8;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 90%;
    }
}

.header {
    margin-top: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.header .container .logo {
    font-size: 35px;
    color: var(--text-color);
    text-decoration: none;
}

.header .container .logo span {
    color: var(--main-color);
}

.header .container ul {
    display: flex;
    list-style: none;
}

.header .container ul li {
    padding: 0 20px;
}

.header .container ul li a {
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
}

.header .container ul li a:hover {
    color: var(--main-color);
}

/*End Header*/


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 99.6px);
}

.center .form {
    width: 400px;
    text-align: center;
    background-color: #EEE;
    padding: 25px;
    border-radius: 25px;
}

.center .form form {
    width: 100%;
}

.center .form form h1 {

    margin-bottom: 15px;
    color: var(--main-color);
}

.center .form form .input-box {
    width: 100%;
    height: 50px;
    margin-bottom: 35px;
}

.center .form form .input-box input {
    width: 100%;
    height: 100%;
    border: none;
    border: 2px solid var(--text-color);
    border-radius: 25px;
    color: var(--text-color);
    font-size: 15px;
    padding: 20px 40px 20px 20px;
    outline: none;
}

.center .form form .input-box input::placeholder {
    color: var(--text-color);
}

.center .form form button {
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
    border: 1px solid var(--text-color);
    border-radius: 25px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
}

.center .form form .link {
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;

}

.center .form form .link a {
    color: var(--main-color);
    text-decoration: none;
}

.center .form form .link a:hover {
    text-decoration: underline;

}

.username-er,
.email-er,
.password-er,
.confirmpassword-er {
    text-align: start;
    margin-left: 10px;
    margin-top: 5px;
    color: #fe2222;
    font-weight: bold;
    display: none;
    font-size: 14px;

}

.check {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    display: none;
}